```txt
torch>=2.3.0
torchvision
torchaudio

unsloth
transformers>=4.51.0
trl
peft
accelerate
bitsandbytes

datasets
evaluate

numpy
pandas
scikit-learn
tqdm

sentencepiece
protobuf
safetensors
huggingface_hub

ipywidgets
jupyter
```
